@import "./normalize.css";
/* Variables */
:root {
  /* Primary */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  /* Background */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  /* Circle */
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* Font Family */
  --Hanken-Grotesk: "Hanken Grotesk", sans-serif;

  /* Fonts weights */
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;

  /* Fonts sizes*/
  /* 56px - 72px */
  --fs-900: clamp(3.5rem, 2.859rem + 2.735vw, 4.5rem);
  /* 24px - 32xp */
  --fs-800: clamp(1.5rem, 1.1795rem + 1.3675vw, 2rem);
  /* 18px - 24xp */
  --fs-700: clamp(1.125rem, 0.8846rem + 1.0256vw, 1.5rem);
  /* 16px - 18px */
  --fs-500: clamp(1rem, 0.9199rem + 0.3419vw, 1.125rem);
}

body {
  font-family: var(--Hanken-Grotesk);
  font-weight: var(--fw-500);
  background-color: var(--Pale-blue);
}

@media screen and (min-width: 40.625em) {
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
}
